---
import BaseLayout from "@/layouts/base-layout.astro";
import { getCollection } from "astro:content";
import { site } from "@/consts";
import { ThemeToggle } from "@/components/theme-toggle";
import Musing from "@/components/musing.astro";
import { SiteAvatar } from "@/components/site-avatar";
import { Card, CardHeader, CardContent } from "@/components/ui/card";
import NavigationMenus from "@/components/navigation-menus";

const posts = (await getCollection("post")).sort(
  (a, b) => a.data.date.valueOf() - b.data.date.valueOf()
);

const musings = (await getCollection("musing")).sort(
  (a, b) => a.data.date.valueOf() - b.data.date.valueOf()
);
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, { attributes: true, attributeFilter: ["class"] });
  }
</script>

<BaseLayout>
  <div slot="header" class="mx-auto mt-20 flex flex-col gap-y-8">
    <div class="flex justify-end gap-x-4">
      <NavigationMenus client:load />
      <ThemeToggle client:load />
    </div>
    <div class="flex gap-x-6">
      <SiteAvatar client:load />
      <div class="flex flex-col gap-y-1">
        <h1 class="text-2xl font-black">{site.title}</h1>
        <p class="text-base text-[#a7a9be]">{site.description}</p>
      </div>
    </div>

    <div class="flex flex-col gap-y-4 text-base">
      <p>👋 Hi,</p>
      <p>
        Welcome to my site. I am a developer, creator, and designer. My blog documents my creative
        process, shares my experiences, and explores various technologies.
      </p>
    </div>
  </div>

  <div class="flex flex-col gap-y-10">
    <section class="flex flex-col gap-y-6">
      <div class="font-bold">Posts</div>
      <div class="flex flex-col gap-y-4">
        {
          posts.map(post => (
            <li class="gap flex list-none flex-row items-center gap-x-6 text-center">
              <span class="text-sm text-[#a7a9be]">{post.data.date.toLocaleDateString()}</span>
              <a href={`/posts/${post.id}/`}>
                <h2 class="border-b-1 border-neutral-950 dark:border-neutral-50">
                  {post.data.title}
                </h2>
              </a>
            </li>
          ))
        }
      </div>
    </section>

    <section class="flex flex-col gap-y-6">
      <div class="font-bold">Musings</div>
      <div class="flex flex-col gap-y-4">
        {
          musings.map(musing => (
            <Card>
              <CardHeader className="text-sm text-[#a7a9be]">
                {musing.data.date.toLocaleDateString()}
              </CardHeader>
              <CardContent>
                <Musing musing={musing} />
              </CardContent>
            </Card>
          ))
        }
      </div>
    </section>
  </div>
</BaseLayout>
