---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ColorSchemeToggle from "@/components/ColorSchemeToggle.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { site } from "@/consts";

const posts: CollectionEntry<"post">[] = (await getCollection("post")).sort(
  (a: CollectionEntry<"post">, b: CollectionEntry<"post">) => a.data.date.valueOf() - b.data.date.valueOf()
);
---

<BaseLayout>
  <div slot="header" class="mx-auto flex max-w-screen-md items-center justify-between p-4">
    <a href="/">
      <h1 class="text-2xl font-bold text-black dark:text-white">
        {site.title}
      </h1>
    </a>
    <ColorSchemeToggle />
  </div>

  <div>
    {
      posts.map(post => (
        <li class="flex list-none flex-col py-4">
          <div class="text-sm text-[#a7a9be] before:content-['#']">{post.data.category}</div>
          <a href={`/post/${post.id}/`}>
            <h1 class="text-2xl">{post.data.title}</h1>
          </a>
          <div class="text-sm text-[#a7a9be]">{post.data.date}</div>
        </li>
      ))
    }
  </div>
</BaseLayout>
